

table {
  border: 2px solid black;
  background-color: gray;
}

.SalesReport {
  border: 2 solid black;
  background-color: gray;
}

tr {
  border: 2 solid black;
  background-color: gray;
}

.tableArea {
  border: 2 solid black;
  background-color: gray;
}

td {
  border: 2 solid black;
  background-color: gray;
}

th {
  border: 2 solid black;
  background-color: gray;
}
