* {
  box-sizing: border-box;
  font: helvetica, 18px, silver;
}

body  {
  background-color: silver;
  font: helvetica, 18px, silver;
}

h1  {
  background-color: salmon;
  border: thin, solid, black;
  font-family: 'Pacifico', cursive;
}

img {

}
section {


}

table tr{

}

tr {


}

p {
  background-color: salmon;
  font: helvetica, 18px, silver  ;
}

h2  {
  background-color: salmon;
  font: helvetica, 18px, silver;
}

ul  {
  background-color: salmon;

}

li  {
  background-color: salmon;

}

aside {
  background-color: salmon;

}

aside.p {
  background-color: salmon;
}

footer  {
  background-color: salmon;

}
