* {
  box-sizing: border-box;
  font: Verdana, 18px;
  color: #DDFFA0;
  margin: 0;
  padding-left: 0;

}

body  {
  background-color: #B25D4C;
  font-family: Verdana, sans-serif, 18px;
  color: #DDFFA0;

}

h1  {
  font-family: 'Pacifico', cursive;
  color: #DDFFA0;
  font-size: 2.5em;
  width: 100%;
  height: 200px;
  text-align: center;
  padding-top: 117px;
  padding-right: 69px;
  position: absolute;
  z-index: 11;


}

#logo {
position: relative;
/*margin-left: 190px;*/
background-color: #577BCC;
padding-left: 150px;
padding-right: 150px;
padding-bottom: 10px;
padding-top: 10px;

z-index: 10;


}
section {


}

table tr{

}

tr {
list-style-type:

}

p {
  /*font: Verdana, 18px;*/
  color: #DDFFA0;
  position: relative;
}

h2  {
  /*font: Verdana, 18px;*/
  color: #DDFFA0;
  position: relative;
}

ul  {

}

li  {

}

aside {

}

aside.p {
}

footer  {

}
.color {
background-color: #B25D4C;
background-color: #FF9A86;
background-color: #DDFFA0;
background-color: #577BCC;
background-color: #5572B2;

}
