* {
  box-sizing: border-box;
  font: helvetica, 18px, silver;
}

body  {
  background-color: silver;
  font: helvetica, 18px, silver;
}

h1  {
  background-color: salmon;
  font-family: 'Pacifico', cursive;
}

img {

}
section {
  border: thin, solid, black;
  border-collapse: collapse;
}

table tr{
      border: thin, solid, black;
        border-collapse: collapse;
}

tr {
  border: thin, solid, black;

}

p {
  background-color: salmon;
  font: helvetica, 18px, silver  ;
}

h2  {
  background-color: salmon;
  font: helvetica, 18px, silver;
}

ul  {
  background-color: salmon;
  border: thin, solid, black;
}

li  {
  background-color: salmon;

}

aside {
  background-color: salmon;
  border: thin, solid, black;
}

aside.p {
  background-color: salmon;
}

footer  {
  background-color: salmon;
  border: thin, solid, black;
}
